*{margin: 0;padding: 0;list-style: none;}
body,ul,ol,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,p,form,input,table,tr,td,select,textarea{margin:0; padding:0;}
body{font-size:12px; font-family:"宋体"; line-height:1.5; background:#fff;}
img{border:none;}
ul{list-style:none;}
a{text-decoration:none;}
input{vertical-align:middle;}
ul li{list-style:none;}
h2{font-size:14px; font-weight:bold;}
.clear{clear:both; height:0; overflow:hidden;}
.clearfix:after{content:".";clear:both; height:0; overflow:hidden;visibility:hidden;display:block;}
.clearfix{zoom:1}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background: url('../static/beijing6.jpg');
	background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
}
.container{
	width: 100%;
	height: 100%;
}
/* 导航 */
.nav{
	 width: 100%;
	 height: 60px;
	 line-height: 50px;
	 background: rgba(255,255,255,0.3);
 }
.nav2 a:hover{
	background-color: rgba(0,0,0,0.5);
	cursor:pointer;
}
.nav1{
	width: 300px;
	float: left;
}
.nav2{
	position: absolute;
	left: 28%;
	text-align: center;
}
.nav2 .div3{
	display: none;
	z-index: 99;
}
.div1:hover .div3{
	display: block;
	background: rgba(255,255,255,0.3);
}
.nav2 .div1{
	width: 140px;
	float: left;
	font-size: 15px;
}
.nav2 .div1 a{
	text-decoration: none;
	color: black;
}
.div1 .div3{
	list-style:none;
}
.div1 .div3 .div4{
	float:left;
	line-height: 60px;
	text-align:center;
	width: 140px;
}
.nav2 .div4{
	float: left;
	font-size: 15px;
}
.div1{
	height: 60px;
	display: block;
}
.div1 a{
	text-decoration:none;
	color:#000;
	display:block;
	width: 140px;
	height: 60px;
}
.div1 ul li ul li{
	float:none;
	background-color:#eee;
	margin:0px 0px;
}
.div1 ul li ul{
	display:none;
}
.photo{
	width: 600px;
	height: 600px;
	margin: 30px auto;
	z-index: -99;
}
.photo1{
	position: absolute;
	width: 100px;
	height: 60px;
	float: left;
	left: 20%;
	text-align: center;
	display: inline-block;
}
.photo2{
	position: absolute;
	width: 100px;
	height: 60px;
	float: right;
	right: 20%;
	text-align: center;
	display: inline-block;
}
.photo3{
	position: absolute;
	width: 100px;
	height: 60px;
	float: left;
	left: 20%;
	text-align: center;
	top: 400px;
	display: inline-block;
}
.photo4{
	position: absolute;
	width: 100px;
	height: 60px;
	float: right;
	right: 20%;
	text-align: center;
	top: 400px;
	display: inline-block;
}
.photo5{
	position: absolute;
	width: 100px;
	height: 60px;
	float: left;
	left: 20%;
	text-align: center;
	top: 600px;
	display: inline-block;
}
.photo6{
	position: absolute;
	width: 100px;
	height: 60px;
	float: right;
	right: 20%;
	text-align: center;
	top: 600px;
	display: inline-block;
}
.photo1 h1, .photo2 h1, .photo3 h1, .photo4 h1, .photo5 h1, .photo6 h1{
	color: white;
}
.photo1 h2, .photo2 h2, .photo3 h2, .photo4 h2, .photo5 h2, .photo6 h2{
	margin-top: 20px;
	height: 50px;
	color: white;
	font-size: 19px;
}
.middle{
	position:absolute;
	width: 450px;
	height: 450px;
	margin: 50px 75px;
	background: url(../static/xuanzhuan16.png);
	background-size: 100%;
	-webkit-animation:run 12s linear 0s infinite;
	z-index: -1;
}
@-webkit-keyframes run{  
        from{  
            -webkit-transform:rotate(0deg);  
        }  
        to{  
            -webkit-transform:rotate(360deg);  
        }  
    } 
.big1{
	position: relative;
	left: -10%;
	float: right;
	background: rgba(0,0,0,0);
	border: none;
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
}
.big1 p:hover,
.big1 .change1:hover{
	background-color: rgba(255,255,255,0.3);
	cursor:pointer;
}

.big1 {
	color: white;
}
#box{
    height: 750px;
    width: 700px;
    background-color:rgba(255,255,255,0.5);
    position: absolute;
    left: 23%;
    top: 2%;
    border: 2px solid rgb(160,151,137);
    border-radius: 10px;

}
#box h1{
    text-align: center;
    margin: 10px auto;
}
#box span{
    margin-left: 20%;
}
#box input[type="text"], #box input[type="password"],select,#box button{
    width: 400px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 20%;
    border-radius: 10px;
    font-size: 20px;
    outline-color: invert ;
    outline-style: none ;
    outline-width: 0px ;
    border: none ;
    border-style: none ;
    text-shadow: none ;
    -webkit-appearance: none ;
    -webkit-user-select: text ;
    outline-color: transparent ;
    box-shadow: none;
}
#tj{
    width: 80px;
    height:50px;
    border-radius: 10px;
    margin-left: 45%;
}
.floatleft{
    margin-right: 5%;
    float: right;
    width: 210px;
}
#change1{
	width: 40px;
	height: 177.6px;
	position: absolute;
	left: -10%;
	display: none;
}
.change1{
	height: 29.6px;
	width: 60px;
	color: white;
}
.xiugaikuang{
	width: 554px;
	height: 165px;
	background-color: rgba(255,255,255,0.4);
	border-radius: 10px;
	position: absolute;
	top: 30%;
	left: 25%;
	z-index: 1;
	border: none;
	display: none;
	text-align: center;
}
.xiugaikuang input[type="text"]{
	margin-top: 5px;
	position: absolute;
	left: 22%;
	width: 300px;
	height: 30px;
	border-radius: 10px;
	z-index: 2;
	border: none;
	padding-left: 10px;
	outline: none;
}
select{
	height: 30px;
	margin: 10px auto;
}
.xiugaikuang p{
	height: 30px;
	font-size: 25px;
	font-family: 楷体;
	text-align: center;
	color: black;
}
.anniu input[type="button"]{
	width: 80px;
	height: 40px;
	border: none;
	border-radius: 20px;
	outline: none;
}
.qr{
	background-color: deepskyblue;
}
.qr:hover{
	background-color: #1ba2cf;
}
.qx:hover{
	background-color: #6c757d;
}
.anniu{
	width: 160px;
	margin:10px auto;
}